.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}

.brand {
  display: inline-flex;
  align-items: center;
  margin: 1%;
}

.brand__logo {
  width: 15%;
}

.brand__caption {
  color: white;
  margin-left: 2%;
}

.items-table__wrapper {
  margin: 10px;
}

.notification__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
